{
    # device0: sensors, actuators
    'Tmpl':{
        'sensor':[ 
            {'range':(-1.570, 1.570), 'noise':0.05, 'hdr_id':0, 'scale':1, 'offset':0, 'name':'torso_yaw'},
            {'range':(-0.785, 0.785), 'noise':0.05, 'hdr_id':1, 'scale':1, 'offset':0, 'name':'torso_pitch'},
            {'range':(-0.785, 0.785), 'noise':0.05, 'hdr_id':2, 'scale':1, 'offset':0, 'name':'torso_roll'}
        ],
        'actuator':[
            {'pos_range':(-1.570, 1.570), 'vel_range':(-5.0, 5.0), 'hdr_id':0, 'scale':1, 'offset':0, 'name':'torso_yaw'},
            {'pos_range':(-0.785, 0.785), 'vel_range':(-5.0, 5.0), 'hdr_id':1, 'scale':1, 'offset':0, 'name':'torso_pitch'},
            {'pos_range':(-0.785, 0.785), 'vel_range':(-5.0, 5.0), 'hdr_id':2, 'scale':1, 'offset':0, 'name':'torso_roll'}
        ]
    },

    # device1: sensors, actuators
    'Rmpl':{
        'sensor':[
            {'range':(-0.611, 2.792), 'noise':0.05, 'hdr_id':3, 'scale':1, 'offset':0, 'name':'Rshoulder_fe'},
            {'range':(-2.792, 0.000), 'noise':0.05, 'hdr_id':4, 'scale':1, 'offset':0, 'name':'Rshoulder_abad'},
            {'range':(-0.524, 1.483), 'noise':0.05, 'hdr_id':5, 'scale':1, 'offset':0, 'name':'Rhumeral_rot'},
            {'range':(+0.050, 2.356), 'noise':0.05, 'hdr_id':6, 'scale':1, 'offset':0, 'name':'Relbow'},
            {'range':(-1.483, 1.483), 'noise':0.05, 'hdr_id':7, 'scale':1, 'offset':0, 'name':'Rwrist_rot'},
            {'range':(-0.524, 0.524), 'noise':0.05, 'hdr_id':8, 'scale':1, 'offset':0, 'name':'Rwrist_dev'},
            {'range':(-1.000, 1.000), 'noise':0.05, 'hdr_id':9, 'scale':1, 'offset':0, 'name':'Rwrist_fe'},
            {'range':(+0.000, 1.570), 'noise':0.05, 'hdr_id':10, 'scale':1, 'offset':0, 'name':'Rfingers'},
        ],
        'actuator':[
            {'pos_range':(-0.611, 2.792), 'vel_range':(-5.0, 5.0), 'hdr_id':3, 'scale':1, 'offset':0, 'name':'Rshoulder_fe'},
            {'pos_range':(-2.792, 0.000), 'vel_range':(-5.0, 5.0), 'hdr_id':4, 'scale':1, 'offset':0, 'name':'Rshoulder_abad'},
            {'pos_range':(-0.524, 1.483), 'vel_range':(-5.0, 5.0), 'hdr_id':5, 'scale':1, 'offset':0, 'name':'Rhumeral_rot'},
            {'pos_range':(+0.050, 2.356), 'vel_range':(-5.0, 5.0), 'hdr_id':6, 'scale':1, 'offset':0, 'name':'Relbow'},
            {'pos_range':(-1.483, 1.483), 'vel_range':(-5.0, 5.0), 'hdr_id':7, 'scale':1, 'offset':0, 'name':'Rwrist_rot'},
            {'pos_range':(-0.524, 0.524), 'vel_range':(-5.0, 5.0), 'hdr_id':8, 'scale':1, 'offset':0, 'name':'Rwrist_dev'},
            {'pos_range':(-1.000, 1.000), 'vel_range':(-5.0, 5.0), 'hdr_id':9, 'scale':1, 'offset':0, 'name':'Rwrist_fe'},
            {'pos_range':(+0.000, 1.570), 'vel_range':(-5.0, 5.0), 'hdr_id':10, 'scale':1, 'offset':0, 'name':'Rfingers'},
        ]
    },

    # device2: sensors, actuators
    'Lmpl':{
        'sensor':[
            {'range':(-0.611, 2.792), 'noise':0.05, 'hdr_id':11, 'scale':1, 'offset':0, 'name':'Lshoulder_fe'},
            {'range':(-2.792, 0.000), 'noise':0.05, 'hdr_id':12, 'scale':1, 'offset':0, 'name':'Lshoulder_abad'},
            {'range':(-0.524, 1.483), 'noise':0.05, 'hdr_id':13, 'scale':1, 'offset':0, 'name':'Lhumeral_rot'},
            {'range':(+0.050, 2.356), 'noise':0.05, 'hdr_id':14, 'scale':1, 'offset':0, 'name':'Lelbow'},
            {'range':(-1.483, 1.483), 'noise':0.05, 'hdr_id':15, 'scale':1, 'offset':0, 'name':'Lwrist_rot'},
            {'range':(-0.524, 0.524), 'noise':0.05, 'hdr_id':16, 'scale':1, 'offset':0, 'name':'Lwrist_dev'},
            {'range':(-1.000, 1.000), 'noise':0.05, 'hdr_id':17, 'scale':1, 'offset':0, 'name':'Lwrist_fe'},
            {'range':(+0.000, 1.570), 'noise':0.05, 'hdr_id':18, 'scale':1, 'offset':0, 'name':'Lfingers'},
        ],
        'actuator':[
            {'pos_range':(-0.611, 2.792), 'vel_range':(-5.0, 5.0), 'hdr_id':11, 'scale':1, 'offset':0, 'name':'Lshoulder_fe'},
            {'pos_range':(-2.792, 0.000), 'vel_range':(-5.0, 5.0), 'hdr_id':12, 'scale':1, 'offset':0, 'name':'Lshoulder_abad'},
            {'pos_range':(-0.524, 1.483), 'vel_range':(-5.0, 5.0), 'hdr_id':13, 'scale':1, 'offset':0, 'name':'Lhumeral_rot'},
            {'pos_range':(+0.050, 2.356), 'vel_range':(-5.0, 5.0), 'hdr_id':14, 'scale':1, 'offset':0, 'name':'Lelbow'},
            {'pos_range':(-1.483, 1.483), 'vel_range':(-5.0, 5.0), 'hdr_id':15, 'scale':1, 'offset':0, 'name':'Lwrist_rot'},
            {'pos_range':(-0.524, 0.524), 'vel_range':(-5.0, 5.0), 'hdr_id':16, 'scale':1, 'offset':0, 'name':'Lwrist_dev'},
            {'pos_range':(-1.000, 1.000), 'vel_range':(-5.0, 5.0), 'hdr_id':17, 'scale':1, 'offset':0, 'name':'Lwrist_fe'},
            {'pos_range':(+0.000, 1.570), 'vel_range':(-5.0, 5.0), 'hdr_id':18, 'scale':1, 'offset':0, 'name':'Lfingers'},
        ]
    }
}